.list {
    // z-index: 3;
    position: absolute;
    top: 90px;
    right: 20px;
    &__user {
        display: flex;
        background-color: #262628;
        color: grey;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        border-radius: 5px;
        border: 1px solid #323234;
        position: relative;
        transition: .1s ease;
        &:hover {
            background-color: $base-color;
            color: #fff;
            border-color: #fff;
            &::after {
                color: #fff;
            }
        }
        &::after {
            content: 'Party';
            color: #838384;
            position: absolute;
            top: 45px;
            font-size: 13px;
            text-align: center;
        }
        &-friends {
            cursor: pointer;
            margin-top: 30px;
            &::after {
                content: 'Friends';
            }
        }
        &-search {
            cursor: pointer;
            margin-top: 30px;
            &::after {
                content: 'Search';
            }
        }
    }
    &__friends {
        position: relative;
        min-height: 100%;
        &-content {
            transition: .5s all;
            position: absolute;
            right: -999px;
            top: -90px;
            width: 500px;
            height: 100vh;
            background-color: #151617;
            z-index: 4;
            &-top {
                display: flex;
                margin-top: 30px;
                padding: 0 30px;
                justify-content: space-between;
            }
            &__title {
                font-size: 20px;
                color: #fff;
                font-family: 'Play';
            }
            &__cross {
                opacity: 0.2;
                cursor: pointer;
                transition: opacity ease 0.1s;
                color: #fff;
                font-size: 25px;
                &:hover {
                    opacity: .8;
                }
            }
            &__list {
                margin-top: 30px;
                // display: flex;
                // justify-content: center;
                p {
                    color: #fff;
                    opacity: .8;
                    font-size: 15px;
                    text-align: center;
                }
                &-item {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    width: 400px;
                    align-items: center;
                    font-size: 18px;
                    height: 60px;
                    @include cart;
                    padding: 0 20px;
                    background-color: #1c1d1e;
                    color: #fff;
                    margin-top: 10px;
                    margin-left: 30px;
                    a {
                        color: #fff;
                    }
                    &:hover {
                        border-color: $base-color;
                        margin-left: 25px;
                    }
                    img {
                        width: 40px;
                        height: 40px;
                        @include cart;
                    }
                    &__name {
                        text-transform: lowercase;
                        cursor: pointer;
                    }
                    &-actions {
                        display: flex;
                        align-items: center;
                        flex-direction: row;
                    }
                    &-user {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        column-gap: 20px;
                    }
                    &__del {
                        &:hover {
                            color: $base-color
                        }
                        cursor: pointer;
                    }
                    &__invite {
                        margin-left: 30px;
                        &:hover {
                            color: $base-color
                        }
                        cursor: pointer;
                    }
                }
            }
            &__bottom {
                padding: 30px;
                position: absolute;
                bottom: -25px;
                &-item {
                    margin-bottom: 10px;
                    &:last-child {
                        margin-bottom: 0;
                    }
                    width: 400px;
                    height: 80px;
                    background: url('../img/mirage.webp') center (center / cover) no-repeat;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding: 0 20px;
                    color: #fff;
                    @include cart;
                    border-color: transparent;
                    &__title {
                        font-family: 'Play';
                        &-title {
                            font-size: 17px;
                            span {
                                font-weight: 700;
                            }
                        }
                        &-subtitle {
                            font-size: 13px;
                            font-weight: 700;
                            margin-top: 10px;
                            text-transform: uppercase;
                        }
                    }
                    &:hover {
                        transform: scale(1.02);
                    }
                    &-2 {
                        background: url('../img/dust.jpeg') center (center / cover) no-repeat;
                    }
                    &-3 {
                        background: url('../img/back-friends.jpg') center (center / cover) no-repeat;
                    }
                }
            }
        }
        &-search {
            &__cross {
                opacity: 0.2;
                cursor: pointer;
                transition: opacity ease 0.1s;
                color: #fff;
                font-size: 25px;
                &:hover {
                    opacity: .8;
                }
            }
            transition: .5s all;
            position: absolute;
            right: -999px;
            top: -90px;
            width: 500px;
            height: 100vh;
            background-color: #151617;
            z-index: 4;
            &__search {
                margin-top: 20px;
                margin-left: 30px;
                width: 440px;
                height: 50px;
                display: flex;
                align-items: center;
                justify-content: space-evenly;
                background-color: #1c1d1e;
                border-radius: 5px;
                font-size: 20px;
                color: #fff;
                input {
                    &:focus {
                        outline: none;
                        border: 1px solid $base-color;
                    }
                }
            }
        }
    }

    // &__friends {
    //     position: absolute;
    //     flex-direction: column;
    //     display: flex;
    //     margin-top: 10px;
    //     &-item {
    //         position: relative;
    //         margin-top: 20px;
    //         cursor: pointer;
    //         &__avatar {
    //             img {
    //                 border: 2px solid $base-color;
    //                 width: 40px;
    //                 height: 40px;
    //                 border-radius: 5px;
    //                 // display: none;
    //             }
    //         }
    //         &:hover {
    //             .list__friends-item-info {
    //                 opacity: 1;
    //                 right: 100%;
    //             }
    //         }
    //         &-info {
    //             position: absolute;
    //             right: -999px;
    //             top: 0;
    //             opacity: 0;
    //             min-width: 80px;
    //             height: 38px;
    //             background-color: #323234;
    //             border-radius: 5px;
    //             padding-top: 7px;
    //             padding-left: 7px;
    //             padding-right: 7px;
    //             transition: .1s opacity;
    //             // max-height: 0;
    //             &__container {
    //                 display: flex;
    //                 align-items: center;
    //                 flex-direction: column;
    //             }
    //             &__name {
    //                 color: $base-color;
    //                 font-size: 14px;
    //                 text-align: center;
    //             }
    
    //             &__actions {
    //                 display: flex;
    //                 flex-direction: row;
    //                 column-gap: 15px;
    //                 font-size: 14px;
    //                 color: #fff;
    //                 margin-top: 6px;
    //                 &-delete {
    //                     &:hover {
    //                         color: $base-color;
    //                     }
    //                 }
    //                 &-invite {
    //                     &:hover {
    //                         color: $base-color;
    //                     }
    //                 }
    //             }
    //         }
    //     }
    // }
}