.success {
    transition: .5s all;
    width: 300px;
    height: 100px;
    background-color: $back-color;
    border: 2px solid #323234;
    border-radius: 20px;
    display: flex;
    align-items: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -999px;
    z-index: 5;
    @media (max-width: 1024px) {
        display: none;
    }
    &__line {
        display: flex;
        align-items: flex-srart;
        background-color: rgb(34, 255, 0);
        width: 15px;
        height: 100%;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
    }
    &__title {
        font-size: 25px;
        color: #fff;
        margin-left: 15px;
        opacity: .8;
    }
    &__text {
        font-size: 14px;
        color: #fff;
        opacity: .2;
        margin-left: 15px;
        margin-top: 10px;
    }
    &__cross {
        font-size: 23px;
        color: #fff;
        opacity: .2;
        position: absolute;
        top: 7px;
        right: 17px;
        cursor: pointer;
        transition: .1s all;
        &:hover {
            opacity: .8;
        }
    }
}