{% extends 'base/main.html' %}
{% load static %}

{% block title %}
    Blog
{% endblock title %}

{% block active_nav-blog %}
nav-links__item-active
{% endblock active_nav-blog %}

{% block content %}
  <div class="blog">
    <div class="blog-first">
      <div class="blog__cart">
        <div class="blog__cart-text">
          <div class="blog__cart-text__title">
            HOW TO PLAY ON ELO.PUB?
          </div>
          <div class="blog__cart-text__date">2/16/2023</div>
        </div>
      </div>
    </div>
    <div class="blog-second">
      <div class="blog-second-row">
        <div class="blog-second-row__cart1">
          <div class="blog-second-row__cart1-text">
            <div class="blog-second-row__cart1-text__title">
              Valentine's day elo.pub event 2023
            </div>
            <div class="blog-second-row__cart1-text__date">2/14/2023</div>
          </div>
        </div>

        <div class="blog-second-row__cart2">
          <div class="blog-second-row__cart2-text">
            <div class="blog-second-row__cart2-text__title">
              hiikydance: "in front of the screen there is a two-meter
              bearded guy who loves you"
            </div>
            <div class="blog-second-row__cart2-text__date">6/10/2022</div>
          </div>
        </div>

        <div class="blog-second-row__cart3">
          <div class="blog-second-row__cart3-text">
            <div class="blog-second-row__cart3-text__title">
              elo.pub's player code
            </div>
            <div class="blog-second-row__cart3-text__date">6/1/2022</div>
          </div>
        </div>
      </div>
    </div>

    <div class="blog-third">
      <div class="blog-third__leftpart">
        <div class="blog-third__leftpart-first">
          <div class="blog-third__leftpart-first__cart">
            <div
              class="blog-third__leftpart-first__cart-text blog__cart-text"
            >
              <div
                class="blog-third__leftpart-first__cart-text__title blog__cart-text__title"
              >
                Elo.pub tricks #2
              </div>
              <div
                class="blog-third__leftpart-first__cart-text__date blog__cart-text__date"
              >
                5/17/2022
              </div>
            </div>
          </div>
        </div>

        <div class="blog-third__leftpart-second">
          <div class="blog-third-row">
            <div class="blog-third-row__cart1">
              <div class="blog-third-row__cart1-text">
                <div
                  class="blog-third-row__cart1-text__title blog__cart-text__title"
                >
                  nxshimiya: "win <br />
                  the women's esl
                  <br />
                  major!"
                </div>
                <div
                  class="blog-third-row__cart1-text__date blog__cart-text__date"
                >
                  5/3/2022
                </div>
              </div>
            </div>

            <div class="blog-third-row__cart2">
              <div class="blog-third-row__cart2-text">
                <div
                  class="blog-third-row__cart2-text__title blog__cart-text__title"
                >
                  Elo.pub tricks <br />
                  #1
                </div>
                <div
                  class="blog-third-row__cart2-text__date blog__cart-text__date"
                >
                  4/26/2022
                </div>
              </div>
            </div>

            <div class="blog-third-row__cart3">
              <div class="blog-third-row__cart3-text">
                <div
                  class="blog-third-row__cart3-text__title blog__cart-text__title"
                >
                  best cs:go <br />
                  settings to <br />
                  practise utility
                </div>
                <div
                  class="blog-third-row__cart3-text__date blog__cart-text__date"
                >
                  4/19/2022
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="blog-third__rightpart">
        <a>
          <div class="blog-third__rightpart-item">
            <div
              class="blog__cart-text__title blog-third__rightpart-item-title"
            >
              Support Bulat (Bulattttttttt)
            </div>
            <div
              class="blog__cart-text__date blog-third__rightpart-item-date"
            >
              4/12/2022
            </div>
            <div class="blog-third__rightpart-item-line"></div>
          </div>
        </a>

        <a>
          <div class="blog-third__rightpart-item">
            <div
              class="blog__cart-text__title blog-third__rightpart-item-title"
            >
              Cherchez la femme...
            </div>
            <div
              class="blog__cart-text__date blog-third__rightpart-item-date"
            >
              4/2/2022
            </div>
          </div>
          <div class="blog-third__rightpart-item-line"></div>
        </a>

        <a>
          <div class="blog-third__rightpart-item">
            <div
              class="blog__cart-text__title blog-third__rightpart-item-title"
            >
              Tears of cheaters & interview with the best cs:go girl
              according to elo spring cup#1
            </div>
            <div
              class="blog__cart-text__date blog-third__rightpart-item-date"
            >
              3/23/2022
            </div>
          </div>
          <div class="blog-third__rightpart-item-line"></div>
        </a>

        <a>
          <div class="blog-third__rightpart-item">
            <div
              class="blog__cart-text__title blog-third__rightpart-item-title"
            >
              Emil "Erikino"
            </div>
            <div
              class="blog__cart-text__date blog-third__rightpart-item-date"
            >
              3/19/2022
            </div>
          </div>
          <div class="blog-third__rightpart-item-line"></div>
        </a>

        <a>
          <div class="blog-third__rightpart-item">
            <div
              class="blog__cart-text__title blog-third__rightpart-item-title"
            >
              Elo.pub - welcome onboard !!!
            </div>
            <div
              class="blog__cart-text__date blog-third__rightpart-item-date"
            >
              3/14/2022
            </div>
          </div>
          <div class="blog-third__rightpart-item-line"></div>
        </a>

        <a>
          <div class="blog-third__rightpart-item">
            <div
              class="blog__cart-text__title blog-third__rightpart-item-title"
            >
              the elo story begins...
            </div>
            <div
              class="blog__cart-text__date blog-third__rightpart-item-date"
            >
              3/1/2022
            </div>
          </div>
          <div class="blog-third__rightpart-item-line"></div>
        </a>
      </div>
    </div>
  </div>
{% endblock content %}

