{% extends 'base/create.html' %}
{% load static %}

{% block active_nav-lobby %} 
{% endblock active_nav-lobby %}

{% block active_nav-open %}
    class="active"
{% endblock active_nav-open %}

{% block lobby_sub %}
{% endblock lobby_sub %}

{% block content_lobby %}
    <div class="lobby-right-2">
        <div class="lobby-rigth-2__img">
            <div class="white"></div>
            <div class="text">
                No matches founded :(
            </div>
        </div>
    </div>
{% endblock content_lobby %}