{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="img/icons/logo-nav.svg" type="image/svg">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Steam</title>
    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.min.css' %}">
</head>
<body>
    <section class="steam">
        <div class="container-steam">
            <div class="steam__logo">
                <a href="{% url 'index' %}">
                    <img src="{% static 'img/icons/logo-nav.svg' %}" alt="">
                </a>
            </div>
            <div class="steam__cart">
                <div class="steam__cart__title">
                    <i class="fa-brands fa-steam"></i> Steam Connect
                </div>
                <div class="steam__cart__text">
                    Please connect your   <i class="fa-brands fa-steam-symbol"></i> Steam account to get access for all functions of Neo.Control
                </div>
                <a class="btn btn-steam">Connect</a>
            </div>
        </div>
        <div class="steam-img">
            <img src="{% static 'img/vb.webp' %}" alt="">
        </div>
        <div class="steam-img2">
            <img src="{% static 'img/vg.webp' %}" alt="">
        </div>
    </section>
</body>
</html>