{% load static %}
    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.min.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
          integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>

{% for user in user_list %}
    <div class="list__friends-content__list-item">
        <a href="{% url 'steam' %}" class="list__friends-content__list-item-user">
            <img src="{{ user.image_url }}" alt="">
            <div class="list__friends-content__list-item__name">
                {{ user.username }}
            </div>
        </a>
        <div class="list__friends-content__list-item-actions">
            <a href="#" class="list__friends-content__list-item__invite" onclick="invite_friend({{ user.id }})">
                <i id="{{ user.id }}" class="fa-solid {{ user.invited }}"></i>
            </a>
        </div>
    </div>
{% endfor %}


